<div class="container">
  <app-header></app-header>
  <app-actions-wrapper></app-actions-wrapper>
  <div class="material-manager">
    <app-materials-list (selectedMaterial)="selectedMtl($event)" [materials]="(materials | async) || []" [total]="totalCost"></app-materials-list>
    <div class="production-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="total-cost-outer">
    <span>Total Cost:</span>
    <span>$ {{totalCost | number:'1.2-2'}}</span>
  </div>
</div>